@import '../../index.scss';

footer {
    position: sticky;
    top: 100%;
	color: var(--secondary-color);
	p{
		padding-bottom: 10px;
	}
	a{
		color: var(--secondary-color);
	}
	a:hover{
		font-weight: 500;
	}
}

.footer-content {
    display: grid;
    place-items: center;
    text-align: center;
	
}

.footer-nav a{
    margin: 20px 10px; 
	
}

@media screen and (max-width: 900px){
	

}
