.portfolio-page-title{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 40px;
}

.portfolio-page-subtitle{
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 20px;
}

.project-section{
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); 
  gap: 20px;
  margin-bottom: 20px;
  }
    
.grid-item {
  border: 1px solid #ccc;
  padding: 20px;
  height: auto;
  // width: 350px;
  border-radius: 5px;
  box-shadow: #ccc;
  transition: 0.3s ease;
}

.grid-item:hover{
  background: #f0f0f0;
  transition: 0.3s ease;
}

.card-image {
    display: block;
    width: 100%;
    object-fit:cover;
}

.project-title{
  font-size: 24px;
  color: var(--primary-color);
}

.project-description{
  margin: 8px 0;
  font-family: 'Poppins';
  color: var(--secondary-color);
}

.project-link a{
  color: var(--accent-color);
}