.skills-wrapper{
    display: grid;
    width: 80%;
    margin: 40px auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.skill-img {
    height: auto;
    display: block;
    margin: 0 auto;
    width: 160px;
  }

.skill-label{
    font-size: 18px;
    font-family: 'Poppins';
    color: #aba8a8;
    text-align: center;
    margin-top: 4px;
}

@media only screen and (max-width: 690px){
    .skills-wrapper{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}